{% extends 'base.html.twig' %}

{% block body_id 'user_enrollSubject' %}

{% block main %}
    <h1>{{ 'Enroll Subject' }}</h1>

    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Subject Name</th>
                    <th scope="col">State</th>
                </tr>
                </thead>
                <tbody>
                {% for subject in unassignedSubjects %}
                    <tr>
                        <th scope="row">{{ subject.id }}</th>
                        <td>{{ subject.subjectName }}</td>
                        <td>
                            <a href="{{ path('student.enroll', {userId: user.id, subjectId: subject.id}) }}" class="btn btn-outline-success btn-sm">Enroll subject</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>
{% endblock %}