
{% extends 'user/layout.html.twig' %}

{% block body_id 'show_users_subjects' %}

{% block main %}
    <table class="table table-striped table-middle-aligned">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Subject Name</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
        {% for stuEnrolSubject in stusEnrolSubjects %}
            <tr>
                <th scope="col">{{ stuEnrolSubject.user }}</th>
                <th scope="col">{{ stuEnrolSubject.subject }}</th>
                <th scope="col">{{ stuEnrolSubject.status }}</th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block sidebar %}
    {{ parent() }}

{% endblock %}
