
{% extends 'user/layout.html.twig' %}

{% block body_id 'show_user_subjects' %}

{% block main %}
    <table class="table table-bordered table-striped table-condensed">
        <thead class="alert-info">
        <tr>
            <th scope="col">Full Name</th>
            <th scope="col">Subject Name</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
        {% for stuEnrolSubject in stusEnrolSubjects %}
            <tr>
                <th scope="col">{{ stuEnrolSubject.user.fullname }}</th>
                <th scope="col">{{ stuEnrolSubject.subject }}</th>
                <th scope="col">{{ stuEnrolSubject.status }}</th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block sidebar %}
    {{ parent() }}

{% endblock %}
